*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body{
    background-color: rgb(0, 203, 207);
}
main{
    background-color: white;
    margin:auto;
    padding: 10px;
    width: 500px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.563);
}
iframe{
    width: 500px;
}
img{
        height: 100px;
    }
img.lado{
    float: right;
}
h1{
    font-size: 2em;
    color: blue;
}

h2{
    font-size: 1.5em;
    color: blue;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
a:hover{
    text-decoration: underline;
    color: black;
}